:root {
    --background-color: #010101;
    --btn-background: #171717;
}   

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    user-select: none;
}

#display {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 92%;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: var(--background-color);
    color: #fff;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: var(--btn-background);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

button:hover {
    background-color: hsl(0, 0%, 12%);
}

button:active {
    background-color: hsl(0, 0%, 20%);
    font-size: 2.0rem;
    transition: 40ms;
}

#clear-btn {
    color: hsl(9, 76%, 59%);
}

.operator-btn {
    color: hsl(115, 100%, 56%);
}
